.sort-input-container {
  padding: 5px 80px;
  text-align: center;

  margin: 10px 0;
}
@media (max-width: 767) {
  .sort-input-container {
    padding: 5px 40px;
  }
}

.sort-input-container select {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-weight: bold;
}
.sort-input-container option {
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}
